<div>
  <h2>{{title}}</h2>
</div>
<div>
  <mat-list>
    <mat-list-item>
      <label>Brightness {{part.brightness}}</label>
      <mat-slider min="0" max="200" value="100" class="slider" >
        <input matSliderThumb [(ngModel)]="part.brightness">
      </mat-slider>
    </mat-list-item>
    <mat-list-item>
      <label>Hue {{part.hue_rotate}}</label>
      <mat-slider min="0" max="359" value="0" class="slider">
        <input matSliderThumb [(ngModel)]="part.hue_rotate">
      </mat-slider>
    </mat-list-item>
    <mat-list-item>
      <label>Saturate {{part.saturation}}</label>
      <mat-slider min="0" max="400" value="0" class="slider">
        <input matSliderThumb [(ngModel)]="part.saturation" >
      </mat-slider>
    </mat-list-item>
    <mat-list-item>
      <label>Contrast {{part.contrast}}</label>
      <mat-slider min="0" max="200" value="0" class="slider">
        <input matSliderThumb [(ngModel)]="part.contrast" >
      </mat-slider>
    </mat-list-item>
    <mat-list-item>
      <label>Opacity {{part.opacity}}</label>
      <mat-slider min="0" max="100" value="0" class="slider">
        <input matSliderThumb [(ngModel)]="part.opacity" >
      </mat-slider>
    </mat-list-item>
  </mat-list>
</div>
<mat-form-field>
  <mat-label>Preset</mat-label>
  <mat-select>
    <mat-option *ngFor="let swatch of swatches" (click)="applyTemplate(swatch)" [value]="swatch.name">
      <div class="thumb" style="background:{{ swatch.color }}"></div>{{swatch.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
