

.thumb{
  display: inline-block;
  border-radius:50%;
  width: 18px;
  height: 18px;
  border:2px solid white;
  vertical-align: bottom;
  margin-right:10px;
}

.mat-mdc-list-item label{
  min-width:90px;
  display: inline-block;
}

/* container */
.responsive-two-columns {
  display:flex;
  flex-wrap:wrap;
}

/* columns */
.responsive-two-columns > * {
  width:100%;
  padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .responsive-two-columns > * {
    width:50%;
  }
}
