<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>About</mat-toolbar>
    <div class="p-3 pt-0">
      <p>This is a quick tool built out on a retina iMac. You may find your machine renders colours differently.</p>
      <p>All colours vary between screens, so ignore the presets if they're nonsense.</p>
      <h2 class="pt-4">How to use</h2>
      <p>Set the sliders wherever gets you the effect you want.</p>
      <p>Use the buttons to copy from body to roof or vice-versa.</p>
      <p>Print screen your favourites.</p>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>colouriser</span>
    </mat-toolbar>
    <app-vehicle></app-vehicle>
  </mat-sidenav-content>
</mat-sidenav-container>
