.canvas{
  position: relative;
  width:100%;
}
.main{
  width:100%;
}
.mask{
  width:100%;
  position:absolute;
  top:0;
  left:1px;
}

.colorised{
  /* these are all trials */
  mix-blend-mode: multiply;
  filter: sepia(1000) hue-rotate(166deg) brightness(1.4) contrast(1) saturate(1.2) opacity(1); /* wedgewood */
}
