@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar.mat-primary{
  z-index: 1000 !important;
}


.swatch {
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  font: 12px Helvetica-Neue, Helvetica, sans-serif;
  color: #000;
}

.swatch .info{
  padding: 4px;
}

.swatch h1{
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding:0;
  line-height: unset;
}

.swatch h2{
  font-weight: normal;
  font-size:10px;
  margin: 0;
  line-height: unset;
}

input[type="color"], .swatch .thumb {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 35px;
  padding: 0;
  width: 100%;
}

*:focus{
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}
