<div class="canvas">
  <img class="main" src="assets/tr4a/background.jpg">
  <img class="mask colorised" [style.filter]="getFilterStyle(hood) | safe"
       src="assets/tr4a/roof-mask-red.png">
  <img class="mask colorised" [style.filter]="getFilterStyle(body) | safe"
       src="assets/tr4a/body-mask-red.png">
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <app-sliders class="card bg-dark text-white p-3" [part]="body" title="Body"></app-sliders>
    </div>
    <div class="col-12 col-md-6">
      <app-sliders class="card bg-dark text-white p-3" [part]="hood" title="Roof"></app-sliders>
    </div>
  </div>
</div>
