.canvas{
  position: relative;
  width:100%;
  max-width: 1280px;
  margin:auto;
}
.main{
  width:100%;
  position:absolute;
  left:0;
  top:0;
}

#mask{
  position: relative;
  z-index: 2;
  mix-blend-mode: multiply;
}

#roof{
  fill: #DBED64;
}

#body{
  fill: #DBED64;
}
