<div class="canvas">
  <img class="main" src="assets/tr4a/background.jpg">
  <img *ngIf="metallic" class="mask colorised" [ngStyle] = "{
      'mix-blend-mode':'color-burn',
      'filter': 'brightness(72%) contrast(80%) opacity(60%)'}"
       src="assets/tr4a/body-mask.png">
  <img class="mask colorised" [ngStyle]="{
      'mix-blend-mode':'multiply',
      'filter': 'brightness(' + brightness + '%) sepia(' + sepia + ') hue-rotate(' + hue_rotate +
      'deg) saturate(' + saturation + '%) contrast(' + contrast + '%) opacity(' + opacity + '%)'}"
       src="assets/tr4a/roof-mask.png">
  <img class="mask colorised" [ngStyle]="{
      'mix-blend-mode':'multiply',
      'filter': 'brightness(' + brightness + '%) sepia(' + sepia + ') hue-rotate(' + hue_rotate +
      'deg) saturate(' + saturation + '%) contrast(' + contrast + '%) opacity(' + opacity + '%)'}"
       src="assets/tr4a/body-mask.png">
</div>

<div *ngFor="let swatch of swatches">
  <app-swatch-picker [swatch]="swatch" (click)="applyTemplate(swatch)" ></app-swatch-picker>
</div>



<div>
  <label>Brightness</label>
  <mat-slider min="0" max="200" value="100" class="slider" >
    <input matSliderThumb [(ngModel)]="brightness">
  </mat-slider>

  <br/>
  <label>Sepia</label>
  <mat-slider min="0" max="100" value="100" class="slider" >
    <input matSliderThumb [(ngModel)]="sepia">
  </mat-slider>

  <br/>
  <label>Hue</label>
  <mat-slider min="0" max="359" value="0" class="slider">
    <input matSliderThumb [(ngModel)]="hue_rotate">
  </mat-slider>
  <br/>

  <label>Saturate</label>:
  <mat-slider min="0" max="400" value="0" class="slider">
    <input matSliderThumb [(ngModel)]="saturation">
  </mat-slider>
  <br/>
  <label>Contrast</label>:
  <mat-slider min="0" max="200" value="0" class="slider">
    <input matSliderThumb [(ngModel)]="contrast">
  </mat-slider>
  <br/>
  <label>Opacity</label>:
  <mat-slider min="0" max="100" value="0" class="slider">
    <input matSliderThumb [(ngModel)]="opacity">
  </mat-slider>
  <br/>
  <label>Metallic</label>:
  <input type="checkbox" [(ngModel)]="metallic">
  {{metallic}}
  <br/>
  <p><mat-slide-toggle [(ngModel)]="metallic">Metallic</mat-slide-toggle>
  </p>

