.canvas{
  position: relative;
  width:100%;
}
.main{
  width:100%;
}
.mask{
  width:100%;
  position:absolute;
  top:0;
  left:0px;
}


.deprecated-colorised-with-svg {
  /* these are all trials */
  mix-blend-mode: multiply;
  filter: sepia(1000) hue-rotate(166deg) brightness(1.4) contrast(1) saturate(1.2) opacity(1); /* wedgewood for svg */
}
.deprecated-colorised{
  mix-blend-mode: overlay;
  filter: sepia(100) hue-rotate(164deg) brightness(0.8) contrast(1.4) saturate(1) opacity(1);
}


.thumb{
  display: inline-block;
  border-radius:50%;
  width: 18px;
  height: 18px;
  border:2px solid white;
  vertical-align: bottom;
  margin-right:10px;
}

.mat-mdc-list-item label{
  min-width:90px;
  display: inline-block;
}
